.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
source/.obsidian/workspace.json
source/.obsidian/app.json
source/.obsidian/appearance.json
source/.obsidian/core-plugins.json
